<h1>Listing drafts</h1>


     
 

  <ul>
  	<li>Name
     Description
     Picture</li>
    <% @ideas.each do |idea| %>
      <% if idea.status=="Draft" %>
      <li><div>
      	<%= image_tag(idea.picture_url, :width => 50, :height => 50) if idea.picture.present? %>
        <%= idea.name %>
        <%= idea.description[0..49] %>
        <%= idea.picture %>
        <%= link_to 'Show', idea %>
        <%= link_to 'Edit', edit_idea_path(idea) %>
        <%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div></li>
      <% end %>
    <% end %></ul>
<% if(flash[:error]) %>
<h4><%=flash[:error]%><h4>
<%end%>
<br>
<%= link_to 'New Idea', new_idea_path %>